.cls-1 {
    fill: none;
  }
.cls-2 {
    fill: red;
  }
.cls-3{fill:#268906;}
.cls-4{fill:#24a300;}
.cls-5{fill:#d80000;}
.cls-6{fill:#ff8b00;}
.cls-7{fill:#0885bc;}
.cls-8{fill:#2aa5e8;}
.cls-9{fill:#fff;}